@import "tailwindcss";

/* This usually happens so might as well it be a thing */
@layer base {
    h1 {
        font-size: xx-large;
        font-weight: bold;
        margin: 1rem 0rem 1rem 0rem;
    }
    h2 {
        font-size: x-large;
        font-weight: bold;
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
    li {
        margin-left: 2rem;
        list-style-type: disc;
    }
}

@theme {
    --font-inter: "InterVariable", "sans-serif";
    --font-inter--font-feature-settings: "liga", "calt", "ss07", "ss08", "cv01", "cv08", "cv09", "cv10";
    --font-inter-font-variation-settings: "normal";
}
